<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.ac.dankook.dantumproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DantumProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".Vote_Main"
            android:exported="false" />
        <activity
            android:name=".Vote_Add_Page"
            android:exported="false" />
        <activity
            android:name=".Vote_Page"
            android:exported="false" />



        <activity
            android:name=".Today"
            android:exported="false" />

        <activity
            android:name=".issue.IssueMain"
            android:exported="false" />
        <activity
            android:name=".profile.Profile1"
            android:exported="false" />
        <activity
            android:name=".profile.Profile2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>